.form {
  background-color: rgb(223, 226, 255);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.form-label {
  font-size: 16px;
  font-weight: 500;
  color: rgb(88, 88, 88);
}

.input-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-input {
  height: 30px;
  width: 240px;
  border: none;
  border-radius: 10px;
  padding: 0 12px;
}

.form > button {
  border: none;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(195, 199, 230);
  width: 140px;
  color: rgb(62, 59, 70);
  font-weight: 500;
  font-size: 15px;
}
